aiohttp
aiohttp[speedups]>=3.7.3
feedparser
pyrogram
tgcrypto
natsort
requests
bs4
apscheduler
motor
dnspython
wget>=3.2
youtube-search-python
ujson
git+https://github.com/ytdl-org/youtube-dl
html-telegraph-poster>=0.2.31